/**************** RESET CSS *********************/

:root{
    --main-font:sans-serif;
    --font-size: 16px;
    --main-color:#f7df1e;
    --second-color:#222;
    --main-modal-color:rgba(247,222,30,0.85);
    --second-modal-color: rgba(34,34,34,0.85);
    --container-width:1200px;

}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth; /* permite darle el estilo de la navegacion con el scrool*/
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}


/******************************* MENU-HAMBURGUESA *******************/


header{
    position: sticky; /*** sticky permite que cuando el header llegue a la posicion 0 en el margen de top hace que el header se comporte como si estuviera fijo***/
    top: 0;
    padding: 1rem; /**** padding a los cuatro lados ***/
    background-color: var(--main-color);
    color:var(--second-color);
}

h1{
    margin: 0; /** le quitamos los margenes pordefecto del h1 **/
    text-align: center;
}

.section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width); /* le asignamos un maximo de pantalla de 1200px*/
    min-width: 100vh; /* un minimo de 100vp*/
    text-align: center;
}


.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--second-color);

}


.panel-btn{
    position: fixed;/* posicion fija en lado inferior derecho*/
    z-index: 999;
    bottom: 1vh; /* inferior*/
    right: 1vw; /* derecha */
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);

}